# === Terraform ===
**/.terraform/
*.tfstate
*.tfstate.backup
*.auto.tfvars
crash.log
crash.*.log
override.tf
override.tf.json

# === Ansible ===
*.retry
modules/rke2/kubeconfig.yaml

# === Environnement ===
.env
auto.vars
auto.tfvars

# === OS ===
.DS_Store
Thumbs.db
